@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  body {
    margin: 0;
    padding: 0;
  }
}
